
.redbtn {
    width: 70px;
    height: 30px;
    background-color: red;
    color: White;
    border-radius: 10px;
    align-self: center;
    text-align: center;
    text-size-adjust: calc();
    margin: 5px;
}

.greenbtn {
    width: 70px;
    height: 30px;
    background-color: green;
    color: White;
    border-radius: 10px;
    align-self: center;
    text-align: center;
    text-size-adjust: calc();
    margin: 5px;
}